*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
*.yml
*.md
*.html
.DS_Store
.idea
.project
.strong-pm
.gitignore
.vscode
.babelrc
.editorconfig
.eslintrc.json
.travis.yml
rollup.config.js
LICENSE
vscode
tests
coverage
examples
docs
src
angularX
javascript
react
vue
implementing
node_modules
npm-debug.log
