*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
*.yml
*.md
*.html
.DS_Store
.idea
.project
.strong-pm
.gitignore
.vscode
vscode
test
coverage
examples
angularX
javascript
react
vue
implementing
node_modules
npm-debug.log