@import url("https://fonts.googleapis.com/css?family=Slabo+27px");
* {
  border: 0 none;
  color: #fff;
  font-family: "Slabo 27px", serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  background-color: #222;
  height: 100vh;
}

h1 {
  font-size: 5vw;
  -webkit-transition: margin-top 1s ease-in-out;
  -moz-transition: margin-top 1s ease-in-out;
  transition: margin-top 1s ease-in-out;
}

h1.invisible {
  margin-top: -6vw;
  -webkit-transition: margin-top 1s ease-in-out;
  -moz-transition: margin-top 1s ease-in-out;
  transition: margin-top 1s ease-in-out;
}

input {
  background-color: transparent;
  color: red;
  font-size: 10vw;
  text-shadow: 0px 0px 0px #fff;
  outline: none;
  width: 80vw;
  -webkit-text-fill-color: transparent;
}

input::-webkit-input-placeholder {
  text-shadow: none;
  -webkit-text-fill-color: initial;
}

button {
  cursor: pointer;
  font-size: 1.3vw;
  text-transform: uppercase;
  background-color: transparent;
}

textarea {
  background-color: #666;
  display: inline-block;
  line-height: 2.5vw;
  font-size: 2vw;
  opacity: 0;
  overflow-y: hidden;
  text-align: left;
  width: 40vw;
  height: 0;
}

.invalid {
  border: 0.5vw solid #f00;
}

.visible {
  height: 13.8em;
  opacity: 1;
  -webkit-transition: opacity 2s linear, height 2.5s ease-in-out;
  -moz-transition: opacity 2s linear, height 2.5s ease-in-out;
  transition: opacity 2s linear, height 2.5s ease-in-out;
}

a {
  word-spacing: -0.188em;
}

@media screen and (max-width: 720px) {
  input {
    font-size: 15vw;
    width: 95vw;
  }

  button {
    font-size: 4vw;
  }

  textarea {
    line-height: 6.5vw;
    font-size: 6vw;
    width: 80vw;
  }
}
