@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
* {
  border: 0 none;
  color: #fff;
  font-family: 'Slabo 27px', serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  background-color: #222;
  height: 100vh;
}

input {
  background-color: transparent;
  color: red;
  font-size: 10vw;
  text-shadow: 0px 0px 0px #fff;
  width: 80vw;
  -webkit-text-fill-color: transparent;
}

input::-webkit-input-placeholder {
  text-shadow: none;
  -webkit-text-fill-color: initial;
}

div {
  padding-top: 20px;
}
